*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #acf39d;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    padding: 1em;
    display: inline-block;
    font-size: 1.3em;
    width: 350px;
}